<div class="kb-card">
  <header class="kb-card-header" style={{backgroundColor}}>
    {{list.title}}
  </header>

  {{#each list.todos as |todo|}}
    {{kanban-list-item todo=todo
                       index=index
                       shiftLeft=(action 'shiftLeft')
                       shiftRight=(action 'shiftRight') }}
  {{/each}}

  <footer class="mt-3">
    <button class="btn btn-link pl-0" type="button">
      + Add a card
    </button>
  </footer>
</div>
