<div class="d-flex flex-row">
  {{#if canShiftLeft}}
    <div {{action "doShiftLeft"}} class="mr-3">&lt;</div>
  {{/if}}
  <div>{{todo.task}}</div>
  {{#if canShiftRight}}
    <div {{action "doShiftRight"}} class="ml-auto">&gt;</div>
  {{/if}}
</div>
