<div class="d-flex flex-row">
  {{#if canShiftLeft}}
    <div {{action "doShiftLeft"}} class="shift-left">&lt;</div>
  {{/if}}
  <div>{{todo.task}}</div>
  {{#if canShiftRight}}
    <div {{action "doShiftRight"}} class="shift-right">&gt;</div>
  {{/if}}
</div>
