@import "bootstrap";

$eggshell: #eceeee;
$white: #ffffff;


body {
  background-color: $eggshell;
}

.kb-container {
  @extend .container;
  .row {
    padding-top: 5rem;
  }
}

// Card list header
.kb-card-header {
  @extend .p-2;
  @extend .d-flex;
  @extend .justify-content-center;
  color: $white;
}


// Card list item
.kb-card-item {
  @extend .p-3;
  @extend .mt-2;
  background-color: $white;
  .shift-left {
    @extend .mr-3;
    cursor: pointer;
  }
  .shift-right {
    @extend .ml-auto;
    cursor: pointer;
  }
}
