<div class="kb-container container">
  <div class="row">

    <div class="col">
      {{kanban-list title="Winnie"}}
    </div>

    <div class="col">
      {{kanban-list title="Bob"}}
    </div>

    <div class="col">
      {{kanban-list title="Thomas"}}
    </div>

    <div class="col">
      {{kanban-list title="George"}}
    </div>

  </div>
</div>
